@page "{id:int}"
@model HelpDeskUnipAssis.Pages.Usuarios.DetailsModel

<h2>Detalhes do Usuário</h2>

<p><b>Nome:</b> @Model.Usuario.Nome</p>
<p><b>Email:</b> @Model.Usuario.Email</p>

<a asp-page="Index">Voltar</a>
